.env
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
*.json.tmp
facebook_cookies.json
twitter_cookies.json
*.db
backups/
*.log
startup*
bot_status.json
antibot_settings.json
autmod_settings.json
dogrulama_logs.json
dogrulama_settings.json
facebook_settings.json
guilds.json
instagram_settings.json
karsilama_settings.json
log_settings.json
members_cache.json
modlogs.json
otorol_settings.json
reaction_roles.json
ticket_settings.json
twitter_settings.json
voice_settings.json
warns.json
warns_storage.json
web_commands.json
